



.infoButton   {
  border-radius: 0;
}

.btn-outline-secondary  {
  border-radius: 0;
}

.infoButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.buyButton  {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: auto;
}


body{
  padding-top: 50px;
 background-color: rgb(250, 252, 255); 


}

#jumbotron {
  color: white;
  background-color: rgb(11, 0, 1) !important;
  margin-top: 30px;
  padding-top: 300px;
}


#about  {
  padding-top: 50px;
  padding-bottom: 50px;
  
}


#contacto  {

  padding-top: 24px;
  padding-bottom: 48px;
}
.card-img-top {
  border-radius: 0;
  
  
object-fit: cover;
}

.my-modal {

  width: 100%;

 
}





.my-modal .modal-content {
 color: #2d1010;
 


}

.modal-content  {
   border-radius: 0;

   

}

.productPhoto{
  margin: 0;
}
.card   {
  border-radius: 0;

  overflow: auto;

}

.card:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  /* transform: scale(1.2) */
  transition: box-shadow 0.2s ease-in-out;
}


@media (max-width: 576px) {
  .card {
    box-shadow: 0 12px 15px rgba(0,0,0,0.3)
  }
  .card:hover {
    transform: none;
  }
}



footer  {
  background-color: rgb(39, 0, 2) !important;
  color: aliceblue;

}

.modal-footer {

  background-color: rgb(39, 0, 2) !important;
  border-radius: 0;
  color: aliceblue;
}


.logo   {
  margin-left: 12px;
  margin-right: 12px;
}

.navbar  {

  background-color: rgb(10, 0, 1) !important;
  opacity: 93%;
  padding: none;
}

.productPhoto {
  height: 320px;
  width: 320px;
}

h1 {
  font-size: 3rem;
  padding-bottom: 24px;
}

.display-1 {
  font-size: 5rem;
  font-weight: 100;
  padding-bottom: 24px;
}

h2 {
  font-size: 2.5rem;
  padding-bottom: 24px;
}

.nav-link {
  color: white;
 
  transition: color 0.3s ease;
  &:hover {
    color: grey;
  }
  &:focus {
    color: rgb(217, 20, 20);
  }
}

.navbar-brand {
  color: white;
  ransition: color 0.3s ease;
  &:hover {
    color: grey;
  }
  &:focus {
    color: rgb(217, 20, 20);
  }
}

#products {
  padding-top: 50px;
  padding-bottom: 50px;

}

