

.infoButton   {
  border-radius: 0;
}

.infoButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.buyButton  {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: auto;
}


body{
  padding-top: 50px;
  background-color: rgb(251, 247, 240);
}




#about  {
  padding-top: 50px;
  padding-bottom: 50px;
}


.navbar {
  
  display: flex;
  justify-content: space-between;
}


.card-img-top {
  border-radius: 0;
}

.my-modal {
  width: 100%;

 
}



.my-modal .modal-content {
 color: red;
 


}

.modal-content  {
   border-radius: 0;
   

}
.card   {
  border-radius: 0;
  overflow: auto;

}

.card:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  /* transform: scale(1.2) */
  transition: box-shadow 0.3s ease-in-out;
}


@media (max-width: 576px) {
  .card:hover {
    transform: none;
  }
}


